{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper home-color text-title">
    <div class="pre-title">Vincent NGUYEN</div>
    <div class="title">Développeur de site Web</div>
    <div class="post-title">Bienvenue sur mon site vitrine</div>
</div>

<div class="example-wrapper grix xs1 md2 lg3 gutter-xs7">
    <a href="{{ path('app_home') }}">
        <div class="block-menu-home home-color">
            <span>
                <i class="icon-home sidenav-menu-icon"></i>
            </span>
            <h3>Accueil</h3>
            <p>Cette page présente l'ensemble du site et détaille chacune de ses pages.</p>
            <p>Allez consulter le Blog pour plus d'informations sur ces dernières</p>
        </div>
    </a>

    <a href="{{ path('portfolio_index') }}">
        <div class="block-menu-portfolio portfolio-color">
            <span>
                <i class="icon-portfolio sidenav-menu-icon"></i>
            </span>
            <h3>Portfolio</h3>
            <p class="page-summary">Cette page contient actuellement {{ portfolio | length }} productions<br />
            et {{ portfolioComment | length }}
                commentaires</p>
            <p>Cette page présente l'ensemble de mes productions, que vous pouvez commenter.</p>
        </div>
    </a>

    <a href="{{ path('articles_index') }}">
        <div class="block-menu-articles articles-color">
            <span>
                <i class="icon-services sidenav-menu-icon"></i>
            </span>
            <h3>Articles</h3>
            <p class="page-summary">Cette page contient actuellement {{ articles | length }} articles<br />
            et {{ articlesComment | length }} commentaires</p>
            <p>Cette page présente différents articles techniques : des liens vers des tutoriels et ses
                retranscriptions, des lignes de codes divers et d'autres sources d'instruction, d'inspiration et d'aide,
                que vous pouvez commenter.</p>
        </div>
    </a>

    <a href="{{ path('blog_index') }}">
        <div class="block-menu-blog blog-color">
            <span>
                <i class="icon-blog sidenav-menu-icon"></i>
            </span>
            <h3>Blog</h3>
            <p class="page-summary">Cette page contient actuellement {{ blog | length }} articles<br />
            et {{ blogComment | length }} commentaires</p>
            <p>Cette page regroupe différents messages aux thématiques variées, que vous pouvez commenter.</p>
        </div>
    </a>

    <a href="{{ path('about_index') }}">
        <div class="block-menu-about about-color">
            <span>
                <i class="icon-team sidenav-menu-icon"></i>
            </span>
            <h3>A propos</h3>
            <p>Cette page vous permet d'avoir différentes information à mon sujet.</p>
        </div>
    </a>

    <a href="{{ path('contact_index') }}">
        <div class="block-menu-contact contact-color">
            <span>
                <i class="icon-contact sidenav-menu-icon"></i>
            </span>
            <h3>Contact</h3>
            <p>Cette page vous permet via un formulaire de me contacter afin d'échanger sur différents sujets, demandes,
                offres, renseignements particuliers...</p>
        </div>
    </a>
</div>
{% endblock %}