{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="home-color">Accueil et News</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

<ul class="mh-menu site-home home-color">
    <li>
        {# <iframe src="/portfolio" class="site-iframe"></iframe> #}
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="/portfolio"><span class="next-button">Page Portfolio ici</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<ul class="mh-menu site-home home-color">
    <li>
        {# <iframe src="/articles" class="site-iframe"></iframe> #}
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="/articles"><span class="next-button">Page Articles ici</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<ul class="mh-menu site-home home-color">
    <li>
        {# <iframe src="/blog" class="site-iframe"></iframe> #}
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="/blog"><span class="next-button">Page Blog ici</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<ul class="mh-menu site-home home-color">
    <li>
        {# <iframe src="/about" class="site-iframe"></iframe> #}
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="/about"><span class="next-button">Page A propos ici</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<ul class="mh-menu site-home home-color">
    <li>
        {# <iframe src="/contact" class="site-iframe"></iframe> #}
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="/contact"><span class="next-button">Page Contact ici</span>
                {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endblock %}