{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper home-color">
        <div class="title">Vincent NGUYEN</div>
        <div class="subtitle"> Developpeur de site Web : bienvenue sur mon site vitrine</div>
</div>

<div class="example-wrapper grix xs1 md2 lg3 gutter-xs7">
    <div>
        <div class="mh-menu-home home-color">
            <p>Accueil</p>
            <p>La page "Accueil" présente l'ensemble du site et détailles chacune de ses pages.</p>
        </div>
    </div>

    <div>
        <div class="mh-menu-portfolio portfolio-color">
            <p>Portfolio</p>
            <p>La page "Portfolio" présente l'ensemble de mes productions, que vous pouvez commenter.</p>
            <hr />
            <p>Cette page contient actuellement {{ app.user.portfolio | length }} productions et
                {{ app.user.portfolioComments | length }} commentaires</p>
        </div>

        <div class="btn-site wrapper-link-page-site">
            <a class="cta" href="/portfolio"><span class="next-button">Portfolio</span>
                {{ include('includes/next-button.html.twig') }}
            </a>
        </div>
    </div>

    <div>
        <div class="mh-menu-articles articles-color">
            <p>Articles</p>
            <p>La page "Articles" présente différents articles techniques : des liens vers des tutoriels et ses
                retranscriptions, des lignes de codes divers et d'autres sources d'instruction, d'inspiration et d'aide,
                que vous pouvez commenter.</p>
            <hr />
            <p>Cette page contient actuellement {{ app.user.articles | length }} articles et
                {{ app.user.articlesComments | length }} commentaires</p>
        </div>

        <div class="btn-site wrapper-link-page-site">
            <a class="cta" href="/articles"><span class="next-button">Articles</span>
                {{ include('includes/next-button.html.twig') }}
            </a>
        </div>
    </div>

    <div>
        <div class="mh-menu-blog blog-color">
            <p>Blog</p>
            <p>La page "Blog" regroupe différents messages aux thématiques variées, que vous pouvez commenter.</p>
            <hr />
            <p>Cette page contient actuellement {{ app.user.blog | length }} articles et
                {{ app.user.blogComments | length }} commentaires</p>
        </div>

        <div class="btn-site wrapper-link-page-site">
            <a class="cta" href="/blog"><span class="next-button">Blog</span>
                {{ include('includes/next-button.html.twig') }}
            </a>
        </div>
    </div>

    <div>
        <div class="mh-menu-about about-color">
            <p>A propos</p>
            <p>La page "A propos" vous permet d'avoir différentes information à mon sujet.</p>
        </div>

        <div class="btn-site wrapper-link-page-site">
            <a class="cta" href="/about"><span class="next-button">A propos</span>
                {{ include('includes/next-button.html.twig') }}
            </a>
        </div>
    </div>

    <div>
        <div class="mh-menu-contact contact-color">
            <p>Contact</p>
            <p>La page "Contact" vous permet via un formulaire de me contacter afin d'échanger sur différents sujets,
                demandes, offres, renseigneemnts particuliers...</p>
        </div>

        <div class="btn-site wrapper-link-page-site">
            <a class="cta" href="/contact"><span class="next-button">Contact</span>
                {{ include('includes/next-button.html.twig') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}