{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="example-wrapper block-users visitors-color">
    <h1>Inscription :</h1>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="p-3 my-2 rounded-2 success">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}