{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<div class="example-wrapper-title">
    <h1>Inscription :</h1>
</div>

<div class="example-wrapper block-users visitors-color">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.name) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
    <p>En renseignant vos informations personnelles, vous acceptez d'être contacté(e) pour la gestion de votre compte et vous acceptez les termes de notre <a href="{{ path('legal_notice') }}"><span class="link" >politique de confidentialité<span></a></p>
    <p>Vous pouvez retirer votre consentement à tout moment depuis le <a href="{{ path('contact_index') }}"><span class="link" >formulaire de contact<span></a> ou en nous contactant à l’adresse suivante : vngn@laposte.net</p>
    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="p-3 my-2 rounded-2 success">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}