{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Portfolio</div>
</div>

<div class="block-portfolio-menu">
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">Tout</a>
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">Symfony 5</a>
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">PHP/SQL</a>
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">PHP</a>
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">HTML/CSS</a>
<a href="" class="btn shadow-1 rounded-1 red modal-trigger">Divers</a>
{# <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}" class="btn shadow-1 rounded-1 red modal-trigger">Symfony 5</a> #}

</div>

{% for articlePortfolio in portfolio %}

<ul class="block-portfolio portfolio-color"
    style="background-image: url('{{ asset('uploads/images/'~ articlePortfolio.background) }}');">
    <li>
        <a href="">
            <span>{{ articlePortfolio.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articlePortfolio.title }}</span>
            <span>{{ articlePortfolio.categories }}</span>
            {# <span>{{ articlePortfolio.content | raw }}</span> #}
        </a>
        <iframe src="{{ articlePortfolio.image }}" class="site-iframe"></iframe>
    </li>
</ul>

<div class="btn-site wrapper-link-site">
    <a class="cta" href="{{ articlePortfolio.image }}" target="_blank">
        <span class="next-button">Page du site</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<div class="btn-site wrapper-more-site">
    <a class="cta" href="{{ path('portfolio_show', {'id': articlePortfolio.id}) }}">
        <span class="next-button">Lire la suite / {{ articlePortfolio.portfolioComment | length }}
            commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}

{% endblock %}