{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper all-title-except-home">
    <div class="example-wrapper home-color text-titre">
        <div class="title">Portfolio</div>
    </div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

{% for articlePortfolio in portfolio %}

<ul class="mh-menu block-production portfolio-color" style="background-image: url('{{ asset('uploads/images/'~ articlePortfolio.background) }}');">
    <li>
        <a href="">
            <span>{{ articlePortfolio.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articlePortfolio.title }}</span>
            <span>{{ articlePortfolio.categories }}</span>
            <span>{{ articlePortfolio.content | raw }}</span>
        </a>
        <iframe src="{{ articlePortfolio.image }}" class="site-iframe"></iframe>
    </li>
</ul>

<div class="btn-site wrapper-link-site">
    <a class="cta" href="{{ articlePortfolio.image }}" target="_blank">
        <span class="next-button">Page du site</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<div class="btn-site wrapper-more-site">
    <a class="cta" href="{{ path('portfolio_show', {'id': articlePortfolio.id}) }}">
        <span class="next-button">Lire la suite / {{ articlePortfolio.portfolioComment | length }}
            commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}

{% endblock %}