{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper zone">
    <h1>Portfolio</h1>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

{% for articlePortfolio in portfolio %}
<ul class="mh-menu site">
    <li><a href="">
            <span>{{ articlePortfolio.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articlePortfolio.title }}</span>
            <span>{{ articlePortfolio.categories }}</span>
            <span>{{ articlePortfolio.content | raw }}</span>
        </a>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://symfony-store.developpeur-de-site-web.fr/" target="_blank">Page du site</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="{{ path('portfolio_show', {'id': articlePortfolio.id}) }}">Lire la suite / {{ articlePortfolio.portfolioComment | length }} commentaire(s)</a>
    </button>
</div>
{% endfor %}











<ul class="mh-menu site symfony">
    <li>
        <a href="">
            <span>date</span>
            <span>TP Symfony n°3</span>
            <span>description</span>
        </a>
        <iframe src="https://symfony-store.developpeur-de-site-web.fr/" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://symfony-store.developpeur-de-site-web.fr/" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site symfony">
    <li>
        <a href="https://symfony-school.developpeur-de-site-web.fr/" target="_blank">
            <span>date</span>
            <span>TP Symfony n°2</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://symfony-school.developpeur-de-site-web.fr/" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://symfony-school.developpeur-de-site-web.fr/" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site symfony">
    <li>
        <a href="https://symfony-blog.developpeur-de-site-web.fr/" target="_blank">
            <span>date</span>
            <span>TP Symfony n°1</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://symfony-blog.developpeur-de-site-web.fr/" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://symfony-blog.developpeur-de-site-web.fr/" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site pdo">
    <li>
        <a href="https://developpeur-de-site-web.fr/PDO-TP2/index.php" target="_blank">
            <span>01 juillet 2020</span>
            <span>TP PDO n°2</span>
            <span>Objectif :</span>
            <span>
                <ul>
                    <li>Création d'un petit logiciel en ligne permettant d’afficher et de gérer rapidement les
                        différentes classes d'une école comprenant :
                        <ul>
                            <li>un système de connexion sécurisé</li>
                            <li>une vue avec toutes les classes</li>
                            <li>Une vue avec une seule classe</li>
                            <li>Des formulaire permettant d’ajouter, modifier ou supprimer :
                                <ul>
                                    <li>des élèves</li>
                                    <li>des classes</li>
                                    <li>des professeurs</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>login : dark / password : vador</li>
                </ul>
            </span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/PDO-TP2/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/PDO-TP2/index.php" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site pdo">
    <li>
        <a href="https://developpeur-de-site-web.fr/PDO-TP1/index.php" target="_blank">
            <span>29 juin 2020</span>
            <span>TP PDO n°1</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/PDO-TP1/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/PDO-TP1/index.php" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site php">
    <li>
        <a href="https://developpeur-de-site-web.fr/projetLoueurDeVoiture/index.php" target="_blank">
            <span>date</span>
            <span>Exercice PHP n°3</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/projetLoueurDeVoiture/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/projetLoueurDeVoiture/index.php" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site php">
    <li>
        <a href="https://developpeur-de-site-web.fr/projetBlog/index.php" target="_blank">
            <span>date</span>
            <span>Exercice PHP n°2</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/projetBlog/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/projetBlog/index.php" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site php">
    <li>
        <a href="https://developpeur-de-site-web.fr/projetMinichat/index.php" target="_blank">
            <span>date</span>
            <span>Exercice PHP n°1</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/projetMinichat/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/projetMinichat/index.php" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site php">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP07-mini-boutique/index.php" target="_blank">
            <span>15 juin 2020</span>
            <span>Travail d'évaluation n°2</span> <span>Objectif & consignes :</span>
            <span>
                <ul>
                    <li>Le site comporte au moins une page produits et une page administration</li>
                    <li>La page administration permet d’ajouter de nouveaux produits</li>
                    <li>La page produits affiche tous les produits créés</li>
                    <li>Le CSS est généré en SASS</li>
                    <li>Le site est codé en PHP</li>
                    <li>Une base de données est créée et l’objet PDO est utilisé pour la gérer et l'afficher
                    </li>
                    <li>Utilisation d’un framework (Bootstrap)
                    </li>
                    <li>Le site est responsive</li>
                    <li>L’affichage des produits comprend un prix, une photo et une description</li>
                    <li>Utilisation de scripts en JavaScript ou JQuery</li>
                    <li>Ajout d'un système d’identification permettant d'accéder à la page administration
                    </li>
                    <li>Ajout d'un système de modification et suppression des produits
                    </li>
                </ul>
                <p>login : vngn / password : azerty</p>
            </span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP07-mini-boutique/index.php" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP07-mini-boutique/index.php" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP06-sass-Diablo4/index.html" target="_blank">
            <span>18 mai 2020</span>
            <span>Travail d'évaluation n°1</span> <span>Objectif & consignes :</span>
            <span>
                <ul>
                    <li>Reproduction de la structure de l'image ci-dessous</li>
                    <li>Site responsive</li>
                    <li>Choix du thème libre</li>
                    <li>Liens menu et "contact us" inactifs</li>
                    <li>Validation W3C</li>
                </ul>
                {# <p>Cliquez sur l'image pour l'agrandir</p>
                <div>
                    <a href="ressources/img/tp-diablo4.jpg">
                        <img src="ressources/img/tp-diablo4.jpg" class="image-base-de-travail"
                            alt="image du sujet à reproduire" />
                    </a>
                </div> #}
            </span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP06-sass-Diablo4/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP06-sass-Diablo4/index.html" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP05-solar-couvreurs-walking-dead/index.html" target="_blank">
            <span>date</span>
            <span>TP projet n°5</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP05-solar-couvreurs-walking-dead/index.html"
            class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP05-solar-couvreurs-walking-dead/index.html" target="_blank">Page
            du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP04-menu-restaurant/index.html" target="_blank">
            <span>date</span>
            <span>TP projet n°4</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP04-menu-restaurant/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP04-menu-restaurant/index.html" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP03-site-favoris/index.html" target="_blank">
            <span>date</span>
            <span>TP projet n°3</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP03-site-favoris/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP03-site-favoris/index.html" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP02-site-Bootstrap/index.html" target="_blank">
            <span>date</span>
            <span>TP projet n°2</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP02-site-Bootstrap/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP02-site-Bootstrap/index.html" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP01-site-de-ville/index.html" target="_blank">
            <span>date</span>
            <span>TP projet n°1</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP01-site-de-ville/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP01-site-de-ville/index.html" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/Projet06-CV-CSS-en-RD/index.html" target="_blank">
            <span>date</span>
            <span>Exercice OpenClassrooms</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet06-CV-CSS-en-RD/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/Projet06-CV-CSS-en-RD/index.html" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/Projet02-CV-html-css/index.html" target="_blank">
            <span>date</span>
            <span>TP OpenClassrooms</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet02-CV-html-css/index.html" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/Projet02-CV-html-css/index.html" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="ressources/img/Capture1.jpg" target="_blank">
            <span>date</span>
            <span>Projet personnel</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="{{ asset('images/Capture1.jpg') }}" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="{{ asset('images/Capture1.jpg') }}" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/CVSite-Vincent-NGUYEN/" target="_blank">
            <span>date</span>
            <span>Projet personnel</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/CVSite-Vincent-NGUYEN/" class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/CVSite-Vincent-NGUYEN/" target="_blank">Page du site ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li>
        <a href="https://developpeur-de-site-web.fr/TP-projet01-Toutool-s-Life/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span>
            <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/TP-projet01-Toutool-s-Life/index.html"
            class="site-iframe"></iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="https://developpeur-de-site-web.fr/TP-projet01-Toutool-s-Life/index.html" target="_blank">Page du site
            ici</a>
    </button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2">
        <a href="#">Commentaire(s)</a>
    </button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Test-de-clics/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Test-de-clics/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Test-de-clics/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Chat-Bootstrap/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Chat-Bootstrap/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Chat-Bootstrap/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Site-Formation/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Site-Formation/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Site-Formation/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Projet08-Famille-d-artistes/index.html"
            target="_blank"><span>date</span> <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet08-Famille-d-artistes/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Projet08-Famille-d-artistes/index.html" target="_blank">Page du
            site ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Projet07-Zombicide-RD/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet07-Zombicide-RD/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Projet07-Zombicide-RD/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Projet04-Zombicide/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet04-Zombicide/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Projet04-Zombicide/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Projet03-Mementos/index.html" target="_blank">
            <span>date</span>
            <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet03-Mementos/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Projet03-Mementos/index.html" target="_blank">Page du site
            ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

<ul class="mh-menu site html">
    <li><a href="https://developpeur-de-site-web.fr/Projet01-Site-cours-html-css/index.html"
            target="_blank"><span>date</span> <span>Projet personnel</span> <span>description</span>
            <span>Accéder à la page du site</span>
        </a>
        <iframe src="https://developpeur-de-site-web.fr/Projet01-Site-cours-html-css/index.html" class="site-iframe">
        </iframe>
    </li>
</ul>
<div class="btn-site">
    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a
            href="https://developpeur-de-site-web.fr/Projet01-Site-cours-html-css/index.html" target="_blank">Page du
            site ici</a></button>

    <button type="submit" class="btn shadow-1 rounded-1 green dark-2"><a href="#">Commentaire(s)</a></button>
</div>

{% endblock %}