{% extends 'base.html.twig' %}

{% block title %}Gérer les productions de la page Portfolio{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1 class="portfolio-color">Gérer les {{ app.user.portfolio | length }} productions<br />de la page Portfolio</h1>
</div>

<div class="example-wrapper">
    {% for portfolio in portfolio %}
    <div class="block-manage users-color">
        <div class="block-manage-bis users-color">
            <span>{{ portfolio.id }} - <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}"
                    class="link">{{ portfolio.title }}</a>
            </span>
            <br />
            <span>{{ portfolio.categories }} - {{ portfolio.createdAt | date ('d/m/Y') }}</span>
            <br />
            <span class="check-box-line">
                <label class="form-switch mt-2">Article désactivé
                    <input type="checkbox" {{ (portfolio.active) ? 'checked' : '' }} data-id="{{ portfolio.id }}" />
                    <span class="slider"></span>Article visible
                </label>
            </span>
            <br />
            <span>
                <button class="btn-manage-edit" type="submit">
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">Modifier l'article / Gérer les
                        commentaires ({{ portfolio.portfolioComment | length }})</a>
                </button>
            </span>
            <span>
                <button class="btn-manage-delete" type="submit">
                    <a href="#" class="modal-trigger" data-target="modal-delete" data-id="{{ portfolio.id }}"
                        data-titre="{{ portfolio.title }}">Supprimer l'article et ses commentaires</a>
                </button>
            </span>
        </div>
    </div>
    {% endfor %}
    <div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
        <div class="modal-header">Supprimer un article</div>
        <div class="divider"></div>
        <div class="modal-content"></div>
        <div class="divider"></div>
        <div class="modal-footer">
            <a href="" class="btn-manage-delete">valider</a>
            <button data-target="modal-delete"
                class="btn-manage-edit modal-trigger">Fermer</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- JS Modal -->
<script>
    window.onload = () => {
        let activer_message_forum = document.querySelectorAll("[type=checkbox]")
        for (let bouton of activer_message_forum) {
            bouton.addEventListener("click", function () {
                let xmlhttp = new XMLHttpRequest;
                xmlhttp.open("get", `/portfolio/activate/${this.dataset.id}`)
                xmlhttp.send()
            })
        }
        let modal = new Axentix.Modal('#modal-delete');
        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href = `/portfolio/delete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer l'article "${this.dataset.titre}" ?`
            })
        }
    }
</script>
{% endblock %}