{% extends 'base.html.twig' %}

{% block title %}Article du portfolio en détail{% endblock %}

{% block body %}

<div class="example-wrapper-title">
    <h1>{{ portfolio.title }}<br />en détail</h1>
</div>

<div class="comment example-wrapper block-portfolio-light portfolio-color">
    <ul class="block-portfolio-show portfolio-color"
        style="background-image: url('{{ asset('uploads/images/'~ portfolio.background) }}');">

        <li>
            <div class="block-portfolio-insert-show">
                <a href="">
                    <span>{{ portfolio.createdAt | date ('d/m/Y') }}</span>
                    <span>{{ portfolio.title }}</span>
                    <span>{{ portfolio.categories }}</span>
                    <span>{{ portfolio.content | raw }}</span>
                </a>
            </div>
            <iframe src="{{ portfolio.image }}" class="site-iframe"></iframe>
        </li>
    </ul>

    <div class="btn-site wrapper-link-site-show">
        <a class="cta" href="{{ portfolio.image }}" target="_blank">
            <span class="next-button">Page du site</span>
            {{ include('includes/next-button.html.twig') }}
        </a>
    </div>
</div>

<section id="commentaires">
    <div class="example-wrapper block-portfolio-light portfolio-color">
        <h1>{{ portfolio.portfolioComment | length }}
            commentaire(s) :</h1>
    </div>

    <div class="comment example-wrapper block-portfolio-light portfolio-color">

        {% for portfolioComment in portfolio.portfolioComment %}
        <div class=" block-comment users-color">
            <span class="avatar-position"><img src="{{ asset('uploads/photos/'~ portfolioComment.users.photo) }}"
                    alt="avatar" class="photo-form"></span>
            <span>{{ portfolioComment.users.firstname }} {{ portfolioComment.users.name }}</span>
            <br />
            <span>{{ portfolioComment.createdAt | date ('d/m/Y (H:i)') }}</span>
            <span>{{ portfolioComment.content | raw }}</span>
        </div>
        {% endfor %}
    </div>
</section>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper block-portfolio-light portfolio-color">
    {{ form_start(portfolioCommentForm) }}
    {{ form_row(portfolioCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
    {{ form_end(portfolioCommentForm) }}
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

{% endblock %}

{% block javascripts %}{% endblock %}