{% extends 'base.html.twig' %}

{% block title %}Article du portfolio en détail{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="portfolio-color">Article du portfolio en détail</h1>
</div>

<ul class="block-portfolio portfolio-color">
    <li><a href="">
            <span>{{ portfolio.createdAt | date ('d/m/Y') }}</span>
            <span>{{ portfolio.title }}</span>
            <span>{{ portfolio.categories }}</span>
            <span>{{ portfolio.content | raw }}</span>
        </a>
        <iframe src="{{ portfolio.image }}" class="site-iframe"></iframe>
    </li>
</ul>

<div class="btn-site wrapper-link-site">
    <a class="cta" href="https://symfony-store.developpeur-de-site-web.fr/" target="_blank">
        <span class="next-button">Page du site</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper portfolio-color">
    {{ form_start(portfolioCommentForm) }}
    {{ form_row(portfolioCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

    <div class="btn-site wrapper">
        <button type="submit" class="cta">
            <span class="next-button">Ajouter un commentaire</span>
            {{ include('includes/next-button.html.twig') }}
            {{ form_end(portfolioCommentForm) }}
        </button>
    </div>
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

<section id="commentaires">
    <h1 class="example-wrapper portfolio-color">{{ portfolio.portfolioComment | length }} commentaire(s) :</h1>
    <div class="comment example-wrapper portfolio-color">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Contenu</th>
                </tr>
            </thead>
            <tbody>
                {% for portfolioComment in portfolio.portfolioComment %}
                <tr>
                    <td>{{ portfolioComment.users.firstname }} {{ portfolioComment.users.name }}</td>
                    <td>{{ portfolioComment.createdAt | date ('d/m/Y (H:i)') }}</td>
                    <td>{{ portfolioComment.content | raw }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>


{% endblock %}

{% block javascripts %}

{% endblock %}