{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Gérer les catégories</h1>
</div>

<div class="example-wrapper">
    <div class="block-manage users-color">
        <div class="block-manage-bis users-color">
            <span>
                <button class="btn-update-add" type="submit">
                    <a href="{{ path("categories_add") }}">Ajouter une catégorie</a>
                </button>
            </span>
        </div>
    </div>
</div>

<div class="example-wrapper">
    {% for categorie in categories %}
    <div class="block-manage users-color">
        <div class="block-manage-bis users-color">
            <span>{{ categorie.id }} - {{ categorie.name }}</a></span>
            <span>
                <button class="btn-manage-edit" type="submit">
                    <a href="{{ path("categories_edit", {id: categorie.id}) }}">Modifier</a>
                </button>
            </span>
            <span>
                <button class="btn-manage-delete" type="submit">
                    <a href="#" class="modal-trigger" data-target="modal-delete" data-id="{{ categorie.id }}"
                        data-nom="{{ categorie.name }}">Supprimer</a>
                </button>
            </span>
        </div>
    </div>
    {% endfor %}
</div>

<div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
    <div class="modal-header">Supprimer une catégorie</div>
    <div class="divider"></div>
    <div class="modal-content">

    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a href="" class="btn red">valider</a>
        <button data-target="modal-delete"
            class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let modal = new Axentix.Modal('#modal-delete');
        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href = `/categories/delete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer l'article "${this.dataset.nom}"`
            })
        }
    }
</script>
{% endblock %}