{% extends 'base.html.twig' %}

{% block title %}Modifier un commentaire{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Modifier le commentaire de<br />{{ app.user.firstname }} {{ app.user.name }}</h1>
</div>

<div class="example-wrapper">
    <div class="individual-block-edit-index">
        {{ form(form) }}
    </div>
</div>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('blog_manage') }}">
        <span class="next-button">Retour à la liste</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}