{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1 class="blog-color">Modifier l'article<br />"{{ blog.title }}"</h1>
</div>
<div class="example-wrapper">
    <div class="individual-block-edit-index">
        {{ form(form) }}
    </div>
</div>

<div id="commentaires">
    <div class="example-wrapper">
        <div class="individual-block-edit-index">
        <h1>Gérer les {{ blog.blogComment | length }} commentaires</h1>
        </div>
    </div>
    <div class="example-wrapper">
                {% for blogComment in blog.blogComment %}
        <div class="individual-block-edit-index">
            <div class="block-edit-users users-color">
                <span class="avatar-position"><img src="{{ asset('uploads/photos/'~ blogComment.users.photo) }}"
                        alt="avatar" class="photo-form"></span>
                <span>{{ blogComment.users.firstname }}
                    {{ blogComment.users.name }}<br />{{ blogComment.createdAt | date ('d/m/Y (H:i)') }}</span>
                <span>{{ blogComment.content | raw }}</span>
                <span>
                    <button class="btn-users-edit" type="submit">
                        <a href="{{ path('blog_comment_edit', {'id': blogComment.id}) }}"
                            class="modal-trigger">Modifier</a>
                    </button>
                    <button class="btn-users-delete" type="submit">
                        <a href="#" class="modal-trigger" data-target="modal-delete" data-id="{{ blogComment.id }}"
                            data-prenom="{{ blogComment.users.firstname }}"
                            data-nom="{{ blogComment.users.name }}">Supprimer</a>
                    </button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('blog_manage') }}">
        <span class="next-button">Retour à la liste</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
    <div class="modal-header">Supprimer un commentaire</div>
    <div class="divider"></div>
    <div class="modal-content"></div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a href="" class="btn red">valider</a>
        <button data-target="modal-delete"
            class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let modal = new Axentix.Modal('#modal-delete');

        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href =
                    `/blog/commentDelete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer le commentaire de ${this.dataset.prenom} ${this.dataset.nom}`
            })
        }
        // raffraichir la page 0.5s après le changement de valeur du bouton active
        $('.form-switch').click(function () {
            setTimeout(function () {
                window.location.reload();
            }, 500);
        });
    }
</script>
{% endblock %}