{% extends 'base.html.twig' %}

{% block title %}La section Blog{% endblock %}

{% block body %}
<div class="example-wrapper zone">
    <h1 class="blog-color">Blog</h1>
</div>

{% for articleBlog in blog %}
<ul class="mh-menu site blog-color">
    <li><a href="">
            <span>{{ articleBlog.createdAt | date ('d/m/Y à H:i') }}</span>
            <span>{{ articleBlog.title }}</span>
            <span>{{ articleBlog.categories }}</span>
            <span>{{ articleBlog.content | raw }}</span>
        </a>
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('blog_show', {'id': articleBlog.id}) }}">
        <span class="next-button">Lire la suite / {{ articleBlog.blogComment | length }} commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}
{% endblock %}

{% block javascripts %}

{% endblock %}