{% extends 'base.html.twig' %}

{% block title %}Article du blog en détail{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="blog-color">Article du blog en détail</h1>
</div>

<ul class="mh-menu site blog-color">
    <li><a href="">
            <span>{{ blog.createdAt | date ('d/m/Y') }}</span>
            <span>{{ blog.title }}</span>
            <span>{{ blog.categories }}</span>
            <span>{{ blog.content | raw }}</span>
        </a>
    </li>
</ul>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper blog-color">
    {{ form_start(blogCommentForm) }}
    {{ form_row(blogCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

    <div class="btn-site wrapper">
        <button type="submit" class="cta">
            <span class="next-button">Ajouter un commentaire</span>
            {{ include('includes/next-button.html.twig') }}
            {{ form_end(blogCommentForm) }}
        </button>
    </div>
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

<section id="commentaires">
    <h1 class="example-wrapper blog-color">{{ blog.blogComment | length }} commentaire(s) :</h1>
    <div class="comment example-wrapper blog-color">
        {% for blogComment in blog.blogComment %}
        <div class="row">
            <div class="col-3">
                {{ blogComment.users.firstname }} {{ blogComment.users.name }}
                (<small>{{blogComment.createdAt | date ('d/m/Y à H:i')}}</small>)
            </div>
            <div class="col">
                {{blogComment.content | raw}}
            </div>
        </div>
        <hr />
        {%  endfor %}

    </div>
</section>

{% endblock %}

{% block javascripts %}

{% endblock %}