{% extends 'base.html.twig' %}

{% block title %}Article du blog en détail{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>{{ blog.title }}<br />en détail</h1>
</div>

<ul class="block-blog blog-color">
    <li><a href="">
            <span>{{ blog.createdAt | date ('d/m/Y') }}</span>
            <span>{{ blog.title }}</span>
            <span>{{ blog.categories }}</span>
            <span>{{ blog.content | raw }}</span>
        </a>
    </li>
</ul>

<section id="commentaires">
    <h1 class="example-wrapper block-blog blog-color">{{ blog.blogComment | length }} commentaire(s) :</h1>
    <div class="comment example-wrapper block-blog blog-color">
        {% for blogComment in blog.blogComment %}
        <div class=" block-comment users-color">
            <span class="avatar-position"><img src="{{ asset('uploads/photos/'~ blogComment.users.photo) }}"
                    alt="avatar" class="photo-form"></span>
            <span>{{ blogComment.users.firstname }} {{ blogComment.users.name }}</span>
            <br />
            <span>{{ blogComment.createdAt | date ('d/m/Y (H:i)') }}</span>
            <span>{{ blogComment.content | raw }}</span>
        </div>
        {% endfor %}
    </div>
</section>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper block-blog blog-color">
    {{ form_start(blogCommentForm) }}
    {{ form_row(blogCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
    {{ form_end(blogCommentForm) }}
</div>
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

{% endblock %}

{% block javascripts %}{% endblock %}