{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
<div class="example-wrapper block-users users-color">
    <h1>Modifier l'article</h1>
    {{ form(form) }}
</div>

<section id="commentaires">
    <div class="example-wrapper block-users articles-color">
        <h1>Gérer les {{ articles.articleComment | length }} commentaires</h1>
        <table class="table striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Contenu</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for articlesComment in articles.articleComment %}
                <tr>
                    <td>{{ articlesComment.users.firstname }} {{ articlesComment.users.name }}</td>
                    <td>{{ articlesComment.createdAt | date ('d/m/Y (H:i)') }}</td>
                    <td>{{ articlesComment.content | raw }}</td>
                    <td>
                        <a href="{{ path('articles_comment_edit', {'id': articlesComment.id}) }}"
                            class="btn shadow-1 rounded-1 red modal-trigger">Modifier</a>
                        <a href="#" class="btn shadow-1 rounded-1 red modal-trigger" data-target="modal-delete"
                            data-id="{{ articlesComment.id }}" data-prenom="{{ articlesComment.users.firstname }}"
                            data-nom="{{ articlesComment.users.name }}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('articles_manage') }}">
        <span class="next-button">Retour à la liste</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>

<div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
    <div class="modal-header">Supprimer un commentaire</div>
    <div class="divider"></div>
    <div class="modal-content">

    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a href="" class="btn red">valider</a>
        <button data-target="modal-delete"
            class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let modal = new Axentix.Modal('#modal-delete');

        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href =
                    `/articles/commentDelete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer le commentaire de ${this.dataset.prenom} ${this.dataset.nom}`
            })
        }
        // raffraichir la page 0.5s après le changement de valeur du bouton active
        $('.form-switch').click(function () {
            setTimeout(function () {
                window.location.reload();
            }, 500);
        });
    }
</script>
{% endblock %}