{% extends 'base.html.twig' %}

{% block title %}La section Articles{% endblock %}

{% block body %}
<div class="example-wrapper zone">
    <h1 class="articles-color">Articles</h1>

</div>
{% for article in articles %}
<article class="mh-menu site articles-color">
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{ article.createdAt | date('H:i')}}
        dans la catégorie {{ article.categories }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        <br />
        {{ article.content | raw}}
        <br />
    </div>
</article>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('articles_show', {'id': article.id}) }}">
        <span class="next-button">Lire la suite / {{ article.articleComment | length }} commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}

{% endblock %}