{% extends 'base.html.twig' %}

{% block title %}La section Articles{% endblock %}

{% block body %}
<div class="example-wrapper all-title-except-home">
    <div class="example-wrapper home-color">
        <div class="title">Articles</div>
    </div>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
</div>

{% for article in articles %}

<ul class="block-articles articles-color">
    <li><a href="">
            <span>{{ article.createdAt | date ('d/m/Y') }}</span>
            <span>{{ article.title }}</span>
            <span>{{ article.categories }}</span>
        </a>
        <span>{{ article.content | raw}}</span>
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('articles_show', {'id': article.id}) }}">
        <span class="next-button">Lire la suite / {{ article.articleComment | length }} commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}

{% endblock %}