{% extends 'base.html.twig' %}

{% block title %}La section Articles{% endblock %}

{% block body %}
<div class="example-wrapper zone">
    <h1 class="articles-color">Articles</h1>

</div>
{% for article in articles %}
<ul class="mh-menu site articles-color">
    <li><a href="">
            <span>{{ article.createdAt | date ('d/m/Y à H:i') }}</span>
            <span>{{ article.title }}</span>
            <span>{{ article.categories }}</span>
            <span>{{ article.content | raw}}</span>
            <span><img src="{{ article.image }}" alt=""></span>
        </a>
    </li>
</ul>

<div class="btn-site wrapper">
    <a class="cta" href="{{ path('articles_show', {'id': article.id}) }}">
        <span class="next-button">Lire la suite / {{ article.articleComment | length }} commentaire(s)</span>
        {{ include('includes/next-button.html.twig') }}
    </a>
</div>
{% endfor %}

{% endblock %}

{% block javascripts %}

{% endblock %}