{% extends 'base.html.twig' %}

{% block title %}La section Articles{% endblock %}

{% block body %}
<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Articles</div>
</div>

<div class="block-articles-button-menu articles-color">
    <button id="allProject" class="buttonFilter">Tous<br />({{ articles | length }})</button>
    {% for categories in categoriesButton %}
    {%  if  categories.articles | length != NULL %}
    <button id="{{ categories.slug }}" class="buttonFilter">{{ categories.name }}<br />
        ({{ categories.articles | length }})</button>
    {% endif %}
    {% endfor %}
</div>

<div class="example-wrapper grix xs1 md2 lg2 gutter-xs7">

    {% for article in articles %}
    {%  if  article.active != 0 %}

    <div class="{{ article.categories.slug }} articlesFilter">
        <div class="individual-block-articles-index">

            <ul class="block-articles-index articles-color">
                <li>
                    <span>{{ article.createdAt | date ('d/m/Y') }}</span>
                    <span>{{ article.title }}</span>
                    <span>{{ article.categories }}</span>
                    {# <span>{{ article.content | raw}}</span> #}
                </li>
            </ul>

            <div class="btn-site wrapper">
                <a class="cta" href="{{ path('articles_show', {'id': article.id}) }}">
                    <span class="next-button">Lire la suite / {{ article.articleComment | length }}
                        commentaire(s)</span>
                    {{ include('includes/next-button.html.twig') }}
                </a>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>

{# script pour boutons tri #}
<script>
    $(document).ready(function () {
        $('.buttonFilter').click(function () {
            let slug = $(this).attr('id');
            //Mise en valeur du bouton sélectionné
            $('.buttonFilter').removeClass("activeButton");
            $(this).addClass("activeButton");
            //Système de filtre des portfolios
            if (slug != 'allProject') {
                $('.articlesFilter').hide();
                $("." + slug).toggle();
            } else {
                $('.articlesFilter').show();
            }
        });
    });
</script>

{# script pour récupérer les url des boutons du menu tri en jquery et les intégrer à la sidenav #}
<script>
    $(document).ready(function () {
        //On va chercher le slug ou la catégorie dans l'url en GET
        let searchParams = new URLSearchParams(window.location.search)
        searchParams.has('categorie')
        let categorie = searchParams.get('categorie');
        console.log(categorie);
        if (categorie != null) {
            // On met en place le filtre
            $("#" + categorie).addClass('activeButton');
            $('.articlesFilter').hide();
            $("." + categorie).toggle('.articlesFilter');
        } else {
            $("#allProject").addClass('activeButton');
        }
    });
</script>
{% endblock %}
