{% extends 'base.html.twig' %}

{% block title %}Article en détail{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="articles-color">Article en détail</h1>
</div>

<article class="mh-menu site articles-color">
    <h2>{{ articles.title }}</h2>
    <div class="metadata">Ecrit le {{ articles.createdAt | date('d/m/Y')}} à {{ articles.createdAt | date('H:i')}}
        dans la catégorie {{ articles.categories }}</div>
    <div class="content">
        <img src="{{ articles.image }}" alt="">
        <br />
        {{ articles.content | raw}}
        <br />
    </div>
</article>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper articles-color">
    {{ form_start(articlesCommentForm) }}
    {{ form_row(articlesCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

    <div class="btn-site wrapper">
        <button type="submit" class="cta">
            <span class="next-button">Ajouter un commentaire</span>
            {{ include('includes/next-button.html.twig') }}
            {{ form_end(articlesCommentForm) }}
        </button>
    </div>
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

<section id="commentaires">
    <h1 class="example-wrapper articles-color">{{ articles.articleComment | length }} commentaire(s) :</h1>
    <div class="comment example-wrapper articles-color">
        {% for articleComment in articles.articleComment %}

        <div class="row">
            <div class="col-3">
                {{ articleComment.users.firstname }} {{ articleComment.users.name }}
                (<small>{{articleComment.createdAt | date ('d/m/Y à H:i')}}</small>)
            </div>
            <div class="col">
                {{articleComment.content | raw}}
            </div>
        </div>
        <hr />
        {%  endfor %}
    </div>

</section>

{% endblock %}

{% block javascripts %}

{% endblock %}