{% extends 'base.html.twig' %}

{% block title %}Article en détail{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="articles-color">{{ articles.title }}<br />en détail</h1>
</div>

<ul class="block-articles articles-color">
    <li><a href="">
            <span>{{ articles.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articles.title }}</span>
            <span>{{ articles.categories }}</span>
            <span>{{ articles.content | raw }}</span>
            {# <span>{{ articles.image }}</span> #}
        </a>
    </li>
</ul>

<section id="commentaires">
    <h1 class="example-wrapper block-articles articles-color">{{ articles.articleComment | length }} commentaire(s) :
    </h1>
    <div class="comment example-wrapper block-articles articles-color">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Contenu</th>
                </tr>
            </thead>
            <tbody>
                {% for articleComment in articles.articleComment %}
                <tr>
                    <td>{{ articleComment.users.firstname }} {{ articleComment.users.name }}</td>
                    <td>{{articleComment.createdAt | date ('d/m/Y (H:i)') }}</td>
                    <td>{{ articleComment.content | raw }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper block-articles articles-color">
    {{ form_start(articlesCommentForm) }}
    {{ form_row(articlesCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
    {{ form_end(articlesCommentForm) }}
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

{% endblock %}

{% block javascripts %}{% endblock %}