{% extends 'base.html.twig' %}

{% block title %}Article en détail{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="articles-color">Article en détail</h1>
</div>

<ul class="mh-menu site articles-color">
    <li><a href="">
            <span>{{ articles.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articles.title }}</span>
            <span>{{ articles.categories }}</span>
            <span>{{ articles.content | raw }}</span>
            {# <span>{{ articles.image }}</span> #}
        </a>
    </li>
</ul>

{% if is_granted('ROLE_USER') %}
<div class="comment example-wrapper articles-color">
    {{ form_start(articlesCommentForm) }}
    {{ form_row(articlesCommentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}

    <div class="btn-site wrapper">
        <button type="submit" class="cta">
            <span class="next-button">Ajouter un commentaire</span>
            {{ include('includes/next-button.html.twig') }}
            {{ form_end(articlesCommentForm) }}
        </button>
    </div>
</div>

{% else %}

{{ include('includes/show-visitors.html.twig') }}

{% endif %}

<section id="commentaires">
    <h1 class="example-wrapper articles-color">{{ articles.articleComment | length }} commentaire(s) :</h1>
    <div class="comment example-wrapper articles-color">
        <table class="table striped">
            <thead>
                <tr>
                    <th>Auteur</th>
                    <th>Date</th>
                    <th>Contenu</th>
                </tr>
            </thead>
            <tbody>
                {% for articleComment in articles.articleComment %}
                <tr>
                    <td>{{ articleComment.users.firstname }} {{ articleComment.users.name }}</td>
                    <td>{{articleComment.createdAt | date ('d/m/Y (H:i)') }}</td>
                    <td>{{ articleComment.content | raw }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

{% endblock %}

{% block javascripts %}

{% endblock %}