{% extends 'base.html.twig' %}

{% block title %}Page Contact{% endblock %}

{% block body %}
<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Contact</div>
</div>

<div class="contact-menu">
    <div class="contactbutton"><i class="far fa-hand-point-right"></i><span class="more-about">Mes coordonnées</span><i class="far fa-hand-point-left"></i></div>
    <div class="contactsocial1 mail">vngn@laposte.net</div>
    <div class="contactsocial2 phone">06 11 43 14 86</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
            <feBlend in="SourceGraphic" in2="goo" />
        </filter>
    </defs>
</svg>

<div class="example-wrapper-title">
        <h1>Formulaire de contact</h1>
</div>

<div class="example-wrapper block-contact contact-color">
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.society) }}
    {{ form_row(form.post) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    <p>En renseignant vos informations personnelles, vous acceptez d'être contacté(e) pour la gestion de votre compte et vous acceptez les termes de notre <a href="{{ path('legal_notice') }}"><span class="link" >politique de confidentialité<span></a></p>
    <p>Vous pouvez retirer votre consentement à tout moment depuis ce formulaire de contact<span></a> ou en nous contactant à l’adresse suivante : vngn@laposte.net</p>
    {{ form_row(form.agreeTerms) }}
    {{ form_end(form) }}
</div>
{% endblock %}