<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="responsive menu, retina-ready, icon font, media queries, css3, transition, mobile" />
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dc423ef783.js" crossorigin="anonymous"></script>

    <!-- Bootstrap Background Vidéo-->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('bgvideo/css/style.css') }}" rel="stylesheet">

    <!-- Axentis -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.0/dist/css/axentix.min.css">

    <!-- Navbar-->
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/navbar.css') }}" />
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/buttonstyle.css') }}">
    <script src="{{ asset('js/modernizr.custom.js') }}"></script>
</head>

<body>

    <body class="layout with-sidenav bg00" style="background-image: url('{{asset('images/bg00.jpg')}}')">
        <!-- Bootstrap Background Vidéo-->
        {# <video id="video" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video> #}

        <header class="container-fluid main clearfix">
            <nav id="menu" class="nav nav-head">
                <ul>
                    <li>
                        <a href="{{ path('app_home') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-home"></i>
                            </span>
                            <span>Accueil</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('portfolio_index') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-portfolio"></i>
                            </span>
                            <span>Portfolio</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('articles_index') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-services"></i>
                            </span>
                            <span>Articles</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('blog_index') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-blog"></i>
                            </span>
                            <span>Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('about_index') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-team"></i>
                            </span>
                            <span>A propos</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('contact_index') }}">
                            <span class="icon">
                                <i aria-hidden="true" class="icon-contact"></i>
                            </span>
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        {# menu latéral admin #}

        <div id="admin-sidenav" data-ax="sidenav" class="sidenav large white">
            <div class="sidenav-header">
                <button data-target="admin-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <hr />
            <a href="{{ path('portfolio_add') }}" class="sidenav-link">Ajout dans la page Portfolio</a>
            <a href="{{ path('articles_add') }}" class="sidenav-link">Ajout dans la page Articles</a>
            <a href="{{ path('blog_add') }}" class="sidenav-link">Ajout dans la page Blog</a>
            <hr />
            <a href="{{ path('portfolio_manage') }}" class="sidenav-link">Gestion de la page Portfolio</a>
            <a href="{{ path('articles_manage') }}" class="sidenav-link">Gestion de la page Articles</a>
            <a href="{{ path('blog_manage') }}" class="sidenav-link">Gestion de la page Blog</a>
            <hr />
            <a href="{{ path('users') }}" class="sidenav-link">Gestion des Utilisateurs</a>
            <a href="{{ path('users') }}" class="sidenav-link">Mon profil</a>
            <a href="{{ path('app_logout') }}" class="sidenav-link">Se déconnecter</a>
        </div>

        {# menu latéral registered #}

        <div id="registered-sidenav" data-ax="sidenav" class="sidenav large white">
            <div class="sidenav-header">
                <button data-target="registered-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <hr />
            <a href="{{ path('users') }}" class="sidenav-link">Mon profil</a>
            <a href="{{ path('app_logout') }}" class="sidenav-link">Se déconnecter</a>
        </div>

        {# menu latéral visitor #}

        <div id="visitor-sidenav" data-ax="sidenav" class="sidenav large white">
            <div class="sidenav-header">
                <button data-target="visitor-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <hr />
            <a href="{{ path('users') }}" class="sidenav-link">Se connecter</a>
            <a href="{{ path('app_register') }}" class="sidenav-link">S'inscrire</a>
        </div>

        {# menu latéral général #}

        <div id="menu-sidenav" data-ax="sidenav" class="sidenav large orange dark-2">
            <div class="sidenav-header">
                <button data-target="menu-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="{{ path('portfolio_index') }}" class="sidenav-link">Portfolio</a>
            <a href="{{ path('articles_index') }}" class="sidenav-link">Articles</a>
            <a href="{{ path('blog_index') }}" class="sidenav-link">Blog</a>
            <a href="{{ path('about_index') }}" class="sidenav-link">A propos</a>
            <a href="{{ path('contact_index') }}" class="sidenav-link">Contact</a>
        </div>

        {# menu latéral portfolio #}

        <div id="portfolio-sidenav" data-ax="sidenav" class="sidenav large orange">
            <div class="sidenav-header">
                <button data-target="portfolio-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="#" class="sidenav-link">Symfony</a>
            <a href="#" class="sidenav-link">PHP/SQL</a>
            <a href="#" class="sidenav-link">HTML/CSS</a>
            <a href="#" class="sidenav-link">Autres</a>
        </div>

        {# menu latéral articles #}

        <div id="articles-sidenav" data-ax="sidenav" class="sidenav large blue light-1">
            <div class="sidenav-header">
                <button data-target="articles-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="#" class="sidenav-link">Techniques</a>
            <a href="#" class="sidenav-link">Tutoriels</a>
            <a href="#" class="sidenav-link">Codes</a>
            <a href="#" class="sidenav-link">Autres</a>
        </div>

        {# menu latéral blog #}

        <div id="blog-sidenav" data-ax="sidenav" class="sidenav large blue dark-2">
            <div class="sidenav-header">
                <button data-target="blog-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="#" class="sidenav-link">Professionnel</a>
            <a href="#" class="sidenav-link">Loisir</a>
        </div>

        {# menu latéral a propos #}

        <div id="about-sidenav" data-ax="sidenav" class="sidenav large airforce dark-3">
            <div class="sidenav-header">
                <button data-target="about-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="#" class="sidenav-link">Mes compétences</a>
            <a href="#" class="sidenav-link">Mon expérience</a>
            <a href="#" class="sidenav-link">Ma formation</a>
            <a href="#" class="sidenav-link">Mon profil</a>
        </div>

        {# menu latéral contact #}

        <div id="contact-sidenav" data-ax="sidenav" class="sidenav large airforce dark-5">
            <div class="sidenav-header">
                <button data-target="contact-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
                <img class="sidenav-logo dropshadow-1" src="your_img_path" alt="Logo" />
            </div>
            <a href="{{ path('app_home') }}" class="sidenav-link active">Accueil</a>
            <a href="#" class="sidenav-link">Coordonnées</a>
            <a href="#" class="sidenav-link">Formulaire de contact</a>
            <a href="#" class="sidenav-link">Autres</a>
        </div>

        <main>

            {# bouton latéral pour accès menu admin #}
            {% if is_granted('ROLE_ADMIN') %}
            <button data-target="admin-sidenav" class="btn rounded-1 press white sidenav-trigger sidenav-admin">
                <span class="text">
                    <i class="fas fa-user-cog"></i>
                </span>
            </button>

            {% elseif is_granted('ROLE_USER') %}
            {# bouton latéral pour accès menu registered #}
            <button data-target="registered-sidenav"
                class="btn rounded-1 press white sidenav-trigger sidenav-registered">
                <span class="text">
                    <i class="fas fa-user-check"></i>
                </span>
            </button>

            {% else %}
            {# bouton latéral pour accès menu visitor #}
            <button data-target="visitor-sidenav"
                class="btn rounded-1 press white sidenav-trigger sidenav-registered">
                <span class="text">
                    <i class="fas fa-user-lock"></i>
                </span>
            </button>
            {% endif %}

            {# bouton latéral pour accès menu général #}

            <button data-target="menu-sidenav" class="btn rounded-1 press orange dark-2 sidenav-trigger sidenav-menu">
                <span class="icon">
                    <i aria-hidden="true" class="icon-home"></i>
                </span>
            </button>

            {# bouton latéral pour accès menu portfolio #}

            <button data-target="portfolio-sidenav"
                class="btn rounded-1 press orange sidenav-trigger sidenav-portfolio">
                <span class="icon">
                    <i aria-hidden="true" class="icon-portfolio"></i>
                </span>
            </button>

            {# bouton latéral pour accès menu articles #}

            <button data-target="articles-sidenav"
                class="btn rounded-1 press blue light-1 sidenav-trigger sidenav-articles">
                <span class="icon">
                    <i aria-hidden="true" class="icon-services"></i>
                </span>
            </button>

            {# bouton latéral pour accès menu blog #}

            <button data-target="blog-sidenav" class="btn rounded-1 press blue dark-2 sidenav-trigger sidenav-blog">
                <span class="icon">
                    <i aria-hidden="true" class="icon-blog"></i>
                </span>
            </button>

            {# bouton latéral pour accès menu a propos #}

            <button data-target="about-sidenav"
                class="btn rounded-1 press airforce dark-3 sidenav-trigger sidenav-about">
                <span class="icon">
                    <i aria-hidden="true" class="icon-team"></i>
                </span>
            </button>

            {# bouton latéral pour accès menu contact #}

            <button data-target="contact-sidenav"
                class="btn rounded-1 press airforce dark-5 sidenav-trigger sidenav-contact">
                <span class="icon">
                    <i aria-hidden="true" class="icon-contact"></i>
                </span>
            </button>

            <div class="container-fluid">{% block body %}{% endblock %}</div>
        </main>

        <footer class="container-fluid">
            <nav class="nav nav-footer">
                <ul>
                    <li>
                        <a href="/">
                            <span>Site réalisé par Vincent NGUYEN</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span>Créé le 01 août 2020</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span>Actualisation régulière</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span>Dernière Maj : aujourd'hui</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span>Voir les Maj : Ici</span>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <span>RGPD and Co</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>

        <!-- ============================== xx. SCRIPTS POUR BOOTSTRAP BACKGROUND VIDEO ============================== -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>

        <!-- ============================== xx. SCRIPTS POUR AXENTIS ============================== -->

        <script src="https://cdn.jsdelivr.net/npm/axentix@1.0.0-beta.0/dist/js/axentix.min.js"></script>

        <!-- ============================== xx. SCRIPTS POUR RETINA BOOTSTRAP ============================== -->

        <script>
            //  The function to change the class
            var changeClass = function (r, className1, className2) {
                var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
                if (regex.test(r.className)) {
                    r.className = r.className.replace(regex, ' ' + className2 + ' ');
                } else {
                    r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"), ' ' +
                        className1 + ' ');
                }
                return r.className;
            };

            //  Creating our button in JS for smaller screens
            var menuElements = document.getElementById('menu');
            menuElements.insertAdjacentHTML('afterBegin',
                '<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>'
            );

            //  Toggle the class on click to show / hide the menu
            document.getElementById('menutoggle').onclick = function () {
                changeClass(this, 'navtoogle active', 'navtoogle');
            }

            // http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
            document.onclick = function (e) {
                var mobileButton = document.getElementById('menutoggle'),
                    buttonStyle = mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(
                        mobileButton, null).display;

                if (buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(
                        ' ' +
                        mobileButton.className + ' ')) {
                    changeClass(mobileButton, 'navtoogle active', 'navtoogle');
                }
            }
        </script>


        {% block javascripts %}{% endblock %}
        <script src="{{ asset('js/scripts.js') }}"></script>
    </body>

</html>