{% extends 'base.html.twig' %}

{% block title %}Gérer les Maj{% endblock %}

{% block body %}

<div class="color-block-video-title">
    <video class="video-title" height="360" autoplay="true" loop muted>
        <source src="{{asset('bgvideo/background-video.mp4')}}" type="video/mp4" />
    </video>
    <div class="video-title-text">Maj</div>
</div>

{% if is_granted('ROLE_ADMIN') %}
<div class="example-wrapper">
    <div class="block-manage users-color">
        <div class="block-manage-bis users-color">
            <span>
                <button class="btn-update-add" type="submit">
                    <a href="{{ path("update_add") }}">Ajouter une Maj</a>
                </button>
            </span>
        </div>
    </div>
</div>
{% endif %}

<div class="example-wrapper">
    {% for update in update %}
    <div class="block-manage users-color">
        <div class="block-manage-bis users-color">
            <span class="update-date">{{ update.createdAt | date ('d/m/Y') }}</span>
            <span>{{ update.content | raw }}</span>
            {% if is_granted('ROLE_ADMIN') %}
            <span>
                <button class="btn-update-edit" type="submit">
                    <a href="{{ path("update_edit", {id: update.id}) }}">Modifier</a>
                </button>
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}