{% extends 'base.html.twig' %}

{% block title %}Modificcation du mot de passe de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
<div class="col-xs4">
    <div class="p-3 my-2 rounded-2 error">{{ message }}</div>
</div>
{% endfor %}

{% for message in app.flashes('message') %}
<div class="col-xs4">
    <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
</div>
{% endfor %}

<div class="col-xs4 example-wrapper role-color">
    <h1>Modification du mot de passe de {{ app.user.firstname }} {{ app.user.name }}</h1>
    <form method="post">
        <div class="form-field">
            <label for="pass">Nouveau mot de passe</label>
            <input type="password" id="pass" name="pass" class="form-control">
        </div>
        <div class="form-field">
            <label for="pass2">Confirmer le nouveau mot de passe</label>
            <input type="password" id="pass2" name="pass2" class="form-control">
        </div>
        <button class="btn shadow-1 rounded-1 green dark-2">Valider</button>
    </form>
</div>

{% endblock %}