{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe de {{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}
{% for message in app.flashes('error') %}
<div class="p-3 my-2 rounded-2 error">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('message') %}
<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
{% endfor %}

<div class="example-wrapper-title">
    <h1>Modification du mot de passe de {{ app.user.firstname }} {{ app.user.name }}</h1>
</div>

<div class="example-wrapper block-users users-color">
    <form method="post">
        <div class="form-field">
            <label for="pass">Nouveau mot de passe :</label>
            <input type="password" id="pass" name="pass" class="password-form-password-edit">
        </div>
        <div class="form-field">
            <label for="pass2">Confirmer le nouveau mot de passe :</label>
            <input type="password" id="pass2" name="pass2" class="password-form-password-edit">
        </div>
        <button class="btn-submit-form-password-edit">Valider</button>
    </form>
</div>

{% endblock %}