{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }} !{% endblock %}

{% block body %}
<div class="grix xs4 container example-wrapper zone">
    {% for message in app.flashes('message') %}
    <div class="col-xs4">
        <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
    </div>
    {% endfor %}

    <div class="col-xs4">
        <h1>Profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
    </div>
    <div class="col-xs1">Nom :</div>
    <div class="col-xs3">{{ app.user.name }}</div>
    <div class="col-xs1">Prénom :</div>
    <div class="col-xs3">{{ app.user.firstname }}</div>
    <div class="col-xs1">Email :</div>
    <div class="col-xs3">{{ app.user.email }}</div>
    <div class="col-xs4">
        <a href="{{ path('users_profil_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le profil</a>
        <a href="{{ path('users_pass_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le mot de passe</a>
    </div>
</div>

<div class="example-wrapper zone">
    <h1>{{ app.user.articlesComments | length }} article(s) dans la section Articles</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for articleComment in app.user.articlesComments %}
            <tr>
                <td>{{ articleComment.content | raw }}</td>
                <td>{{ articleComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="example-wrapper zone">
    <h1>{{ app.user.blogComments | length }} articles(s) dans section Blog</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for articleComment in app.user.blogComments %}
            <tr>
                <td>{{ articleComment.content | raw }}</td>
                <td>{{ articleComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="example-wrapper zone">
    <h1>{{ app.user.portfolioComments | length }} réalisation(s) dans la section Portfolio</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Contenu</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for productionComment in app.user.portfolioComments %}
            <tr>
                <td>{{ productionComment.content | raw }}</td>
                <td>{{ productionComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}