{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }} !{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
{% endfor %}

<div class="example-wrapper-title">
    <h1>Profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
</div>

<div class="example-wrapper">
    <div class="individual-block-profile-index">
        <div class="block-profile-users users-color">
            <span class="text-profile-users"><img src="{{ asset('uploads/photos/'~ app.user.photo) }}" alt="avatar"
                    class="photo-form"></span>
            <span>{{ app.user.firstname }} {{ app.user.name }}<br /><br />{{ app.user.email }}</span>
            <span>
                <button class="btn-profile-edit" type="submit">
                    <a href="{{ path('users_profil_edit') }}">Modifier le profil</a>
                </button>

                <button class="btn-password-edit" type="submit">
                    <a href="{{ path('users_pass_edit') }}">Modifier le mot de passe</a>
                </button>
            </span>
        </div>
    </div>

    <div class="individual-block-profile-index">
        <h1>{{ app.user.portfolioComments | length }} commentaire(s) dans la section Portfolio</h1>
        {% for productionComment in app.user.portfolioComments %}
        <div class="block-profile-users users-color">
            <span>{{ productionComment.article.title }}</span>
            <span class="text-profile-users">{{ productionComment.createdAt | date ('d/m/Y') }}</span>
            <span>{{ productionComment.content | raw }}</span>
        </div>
        <br />
        {% endfor %}
    </div>

    <div class="individual-block-profile-index">
        <h1>{{ app.user.articlesComments | length }} commentaire(s) dans la section Articles</h1>
        {% for articlesComment in app.user.articlesComments %}
        <div class="block-profile-users users-color">
            <span>{{ articlesComment.article.title }}</span>
            <span class="text-profile-users">{{ articlesComment.createdAt | date ('d/m/Y') }}</span>
            <span>{{ articlesComment.content | raw }}</span>
        </div>
        <br />
        {% endfor %}
    </div>

    <div class="individual-block-profile-index">
        <h1>{{ app.user.blogComments | length }} commentaire(s) dans la section Articles</h1>
        {% for blogComment in app.user.blogComments %}
        <div class="block-profile-users users-color">
            <span>{{ blogComment.article.title }}</span>
            <span class="text-profile-users">{{ blogComment.createdAt | date ('d/m/Y') }}</span>
            <span>{{ blogComment.content | raw }}</span>
        </div>
        <br />
        {% endfor %}
    </div>
</div>
{% endblock %}