{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }} !{% endblock %}

{% block body %}
<div class="example-wrapper block-users users-color">

    {% for message in app.flashes('message') %}
    <div class="p-3 my-2 rounded-2 success">{{ message }}</div>
    {% endfor %}

    <h1>Profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.name }}</td>
                <td>{{ app.user.firstname }}</td>
                <td>{{ app.user.email }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('users_profil_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le profil</a>
    <a href="{{ path('users_pass_edit') }}" class="btn shadow-1 rounded-1 blue">Modifier le mot de passe</a>
</div>

<div class="example-wrapper block-users users-color">
    <h1>{{ app.user.portfolioComments | length }} commentaire(s) dans la section Portfolio</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu du commentaire</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for productionComment in app.user.portfolioComments %}
            <tr>
                <td>{{ productionComment.article.title }}</td>
                <td>{{ productionComment.content | raw }}</td>
                <td>{{ productionComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="example-wrapper block-users users-color">
    <h1>{{ app.user.articlesComments | length }} commentaire(s) dans la section Articles</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu du commentaire</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for articleComment in app.user.articlesComments %}
            <tr>
                <td>{{ articleComment.article.title }}</td>
                <td>{{ articleComment.content | raw }}</td>
                <td>{{ articleComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="example-wrapper block-users users-color">
    <h1>{{ app.user.blogComments | length }} commentaire(s) dans section Blog</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu du commentaire</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for blogComment in app.user.blogComments %}
            <tr>
                <td>{{ blogComment.article.title }}</td>
                <td>{{ blogComment.content | raw }}</td>
                <td>{{ blogComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}