{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstname }} {{ app.user.name }} !{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="p-3 my-2 rounded-2 success">{{ message }}</div>
{% endfor %}

<div class="example-wrapper-title">
    <h1>Profil de {{ app.user.firstname }} {{ app.user.name }}</h1>
</div>

<div class="example-wrapper">
    <div class="individual-block-contact-index">
        <div class="block-manage-users users-color">
            <span class="text-manage-users"><img src="{{ asset('uploads/photos/'~ app.user.photo) }}" alt="avatar" class="photo-form"></span>
            <span>{{ app.user.firstname }} {{ app.user.name }}<br /><br />{{ app.user.email }}</span>
            <span>
                <button class="btn-profile-edit" type="submit">
        <a href="{{ path('users_profil_edit') }}">Modifier le profil</a>
    </button>

    <button class="btn-password-edit" type="submit">
        <a href="{{ path('users_pass_edit') }}">Modifier le mot de passe</a>
    </button>
            </span>
        </div>
    </div>

    <div class="example-wrapper">
    <h1>{{ app.user.portfolioComments | length }} commentaire(s) dans la section Portfolio</h1>

            {% for productionComment in app.user.portfolioComments %}
    <div class="individual-block-contact-index">
        <div class="block-manage-users users-color">
            <span>{{ productionComment.article.title }}</span>
            <span>{{ productionComment.createdAt | date ('d/m/Y') }}</span>
            <span>{{ productionComment.content | raw }}</span>
        </div>
    </div>
    {% endfor %}
 
<div class="example-wrapper block-users users-color">
    <h1>{{ app.user.articlesComments | length }} commentaire(s) dans la section Articles</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu du commentaire</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for articleComment in app.user.articlesComments %}
            <tr>
                <td>{{ articleComment.article.title }}</td>
                <td>{{ articleComment.content | raw }}</td>
                <td>{{ articleComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="example-wrapper block-users users-color">
    <h1>{{ app.user.blogComments | length }} commentaire(s) dans section Blog</h1>
    <table class="table striped">
        <thead>
            <tr>
                <th>Titre de l'article</th>
                <th>Contenu du commentaire</th>
                <th>date</th>
            </tr>
        </thead>
        <tbody>
            {% for blogComment in app.user.blogComments %}
            <tr>
                <td>{{ blogComment.article.title }}</td>
                <td>{{ blogComment.content | raw }}</td>
                <td>{{ blogComment.createdAt | date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}