{% extends 'base.html.twig' %}

{% block title %}Gérer les messages{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Gérer les messages</h1>
</div>

<div class="example-wrapper">
    {% for contact in contact %}
    <div class="individual-block-contact-index">
        <div class="block-manage-contact users-color">
                <span>{{ contact.name }}<br /></span>
                <span>{{ contact.post }} - {{ contact.society }}<br /></span>
                <span>{{ contact.email }} - 0{{ contact.phone }}<br /></span>
                <span>{{ contact.createdAt | date ('d/m/Y (H:i)') }}<br /></span>
                <span>{{ contact.title }}</span>
                <span>{{ contact.content | raw }}</span>
                <span><label class="form-switch mt-2">Message traité
                        <input type="checkbox" {{ (contact.active) ? 'checked' : '' }} data-id="{{ contact.id }}" />
                        <span class="slider"></span>A traiter
                    </label><br /></span>
                <span><a href="#" class="btn shadow-1 rounded-1 red modal-trigger btn-manage-contact" data-target="modal-delete"
                        data-id="{{ contact.id }}" data-nom="{{ contact.name }}">Supprimer</a></span>
        </div>
    </div>
    {% endfor %}

    <div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
        <div class="modal-header">Supprimer le message</div>
        <div class="divider"></div>
        <div class="modal-content"></div>
        <div class="divider"></div>
        <div class="modal-footer">
            <a href="" class="btn red">valider</a>
            <button data-target="modal-delete"
                class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<!-- JS Modal -->
<script>
    window.onload = () => {
        let activer_message_forum = document.querySelectorAll("[type=checkbox]")
        for (let bouton of activer_message_forum) {
            bouton.addEventListener("click", function () {
                let xmlhttp = new XMLHttpRequest;
                xmlhttp.open("get", `/contact/activate/${this.dataset.id}`)
                xmlhttp.send()

            })
        }
        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href =
                    `/contact/delete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer le message de ${this.dataset.nom} ?`
            })
        }
        // raffraichir la page 0.5s après le changement de valeur du bouton active
        $('.form-switch').click(function () {
            setTimeout(function () {
                window.location.reload();
            }, 50);
        });
    }
</script>
{% endblock %}