{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
<div class="example-wrapper-title">
    <h1>Gérer les utilisateurs</h1>
</div>

<div class="example-wrapper block-users users-color">
    <table class="table striped">
        <thead>
            <tr>
                <th>Avatar</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.photo }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="#" class="btn shadow-1 rounded-1 red modal-trigger" data-target="modal-delete"
                        data-id="{{ user.id }}" data-prenom="{{ user.firstname }}" data-nom="{{ user.name }}">Supprimer
                        l'utilisateur</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
        <div class="modal-header">Supprimer l'utilisateur</div>
        <div class="divider"></div>
        <div class="modal-content"></div>
        <div class="divider"></div>
        <div class="modal-footer">
            <a href="" class="btn red">valider</a>
            <button data-target="modal-delete"
                class="ml-auto btn shadow-1 rounded-1 small primary modal-trigger">Fermer</button>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let modal = new Axentix.Modal('#modal-delete');
        let supprimer = document.querySelectorAll(".modal-trigger")
        for (let bouton of supprimer) {
            bouton.addEventListener("click", function () {
                document.querySelector(".modal-footer a").href = `/users/delete/${this.dataset.id}`
                document.querySelector(".modal-content").innerText =
                    `Êtes-vous sûr(e) de vouloir supprimer ${this.dataset.prenom} ${this.dataset.nom} des utilisateurs ?`
            })
        }
    }
</script>
{% endblock %}